#fot1 {
    width: 43em;
    height: 40em;
}
#fot2
{
    width: 50em;
    height: 40em;
}
#fot3
{
    width: 20.5em;
    height: 30em;
    float:right
}
#fot4
{
    width: 20em;
    height: 30em;
}
#fot5
{
    width: 53em;
    height: 30em;
}